body{
  background: url("https://previews.123rf.com/images/aquapictures/aquapictures1803/aquapictures180300239/98374580-closeup-of-hand-writing-filling-job-or-service-application-form-over-light-desk-background-signing-w.jpg");
}
h1{
  color:blue;
  font-weight:bold;
}
