<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>jobs</title>
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
  </head>
  <body>
    <h1>this the data related HYDERABAD JOBS</h1>
    {% if jobs_list %}
    <table class='hyd'>
      <thead>
        <th>ID</th>
        <th>DATE</th>
        <th>COMPANY</th>
        <th>TITLE</th>
        <th>ELIGIBILITY</th>
        <th>ADDRESS</th>
        <th>EMAIL</th>
        <th>PHONENUMBER</th>
      </thead>
      {%for job in jobs_list %}
      <tr>
        <td>{{job.id}}</td>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibility}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {%endfor%}
    </table>
    {%endif%}
  </body>
</html>
