<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
  <h1>WELCOME TO MYJOB PORTAL</h1>
  <p>we updates latest jobs opening in IT industris</p>
  <a class="btn btn-primary btn-lg" href="/punejobs" role="button">PUNE JOBS</a>
  <a class="btn btn-primary btn-lg" href="/chennaijobs" role="button">CHENNAI JOBS</a>
  <a class="btn btn-primary btn-lg" href="/hydjobs" role="button">HYDERABAD JOBS</a>
</div>

    </div>

  </body>
</html>
