<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "css/demo.css" %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>JOHN AUTOMOBILE PVT.LTD.</h1>
        <p>This is the john automobile employee data</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/empinfo" role="button">click here to view employee data</a>
        </p>
      </div>

    </div>

  </body>
</html>
